Session #1: [45]
-------------------------------------------------------------------------------------------------------------------
basket = ["Apple", "Banana", "Cherry", "Mango"]  
Task: Insert "Grapes" between "Banana" and "Cherry".  

data = [10, 20, [30, 40, 50], 60, 70]  
Task: Change 40 to 45 inside the nested list.  

nums = [3, 6, 9, 12, 15, 18, 21]  
Task: Extract [9, 12, 15] and reverse it.  

numbers = [5, 3, 8, 5, 10, 5, 12, 5]  
Task: Remove all occurrences of 5 from numbers.  

list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
Task: Merge list1 and list2, then sort the combined list.  

colors = ("Red", "Green", "Blue", "Yellow")  
Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.  

names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
Task: Find the index of "Charlie".  

nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
Task: Count how many times 4 appears in nums_tuple.  

values = [10, 20, 30, 40, 50]  
Task: Swap the first and last elements.  

values = []
Task: Generate a list of squares for numbers from 1 to 10.  

my_tuple = (1, 2, 3, 4, 5)  
Task: Reverse my_tuple without converting it to a list.  

data = [23, 45, 67, 12, 89, 34]  
Task: Find the maximum and minimum values in data.  

nums = [10, 20, 30, 40, 50, 60, 70]  
Task: Extract every second element from nums.  

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
Task: Convert nested_list into a single flat list.  

list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
Task: Find common elements between list_a and list_b.  

scores = [78, 55, 92, 30, 88, 62]  
Task: Sort scores in descending order.  

my_tuple = (1, 2, 3)  
Task: Repeat my_tuple three times and store the result.  

numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
Task: Remove duplicates while keeping the order.  

words = ["Hello", "World", "Python", "Programming"]  
Task: Insert "Amazing" at index 2.  

pairs = [("a", 1), ("b", 2), ("c", 3)]  
Task: Convert pairs into a dictionary.

In [1]:
basket = ["Apple", "Banana", "Cherry", "Mango"]

In [2]:
basket = ["Apple", "Banana", "Cherry", "Mango"]
basket.insert(2, "Grapes")

In [3]:
data = [10, 20, [30, 40, 50], 60, 70]

In [5]:
data[2][1] = 45
data

[10, 20, [30, 45, 50], 60, 70]

In [16]:
nums = [3, 6, 9, 12, 15, 18, 21]
temp = nums[2:5]

In [17]:
temp.reverse()

In [18]:
temp

[15, 12, 9]

In [21]:
numbers = [5, 3, 8, 5, 10, 5, 12, 5]

In [25]:
for items in numbers:
    if items == 5:
        numbers.remove(items)

In [26]:
numbers

[3, 8, 10, 12]

In [28]:
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  

list(sorted(list1 + list2))

[1, 2, 3, 4, 6, 7, 8, 9]

In [29]:
colors = ("Red", "Green", "Blue", "Yellow")  
#colors = ("Red", "Green", "Blue", "Yellow")  
#Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.

In [30]:
temp1 = list(colors)

In [31]:
temp1[1:2] = ["Cyan"]

In [32]:
colors = tuple(temp1)

In [33]:
colors

('Red', 'Cyan', 'Blue', 'Yellow')

In [34]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]  
#Task: Find the index of "Charlie".  
names.index("Charlie")

2

In [36]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
#Task: Count how many times 4 appears in nums_tuple.
nums_tuple.count(4)

4

In [39]:
values = [10, 20, 30, 40, 50]  
#Task: Swap the first and last elements.  

temp = values[0]
values[0] = values[-1]
values[-1] = temp

values

[50, 20, 30, 40, 10]

In [42]:
values = []
#Task: Generate a list of squares for numbers from 1 to 10.  

for i in range(10):
    values.append(i**2)

values

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
my_tuple = (1, 2, 3, 4, 5)  
#Task: Reverse my_tuple without converting it to a list.  

tuple(reversed(my_tuple))

(5, 4, 3, 2, 1)

In [47]:
data = [23, 45, 67, 12, 89, 34]  
#Task: Find the maximum and minimum values in data.  

min(data)

12

In [48]:
max(data)

89

In [49]:
nums = [10, 20, 30, 40, 50, 60, 70]  
#Task: Extract every second element from nums. 
nums[::2]

[10, 30, 50, 70]

In [50]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
#Task: Convert nested_list into a single flat list. 
nested_list[0]+nested_list[1]+nested_list[2]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
#Task: Find common elements between list_a and list_b.  
temp2 = []
for i in list_a:
    for j in list_b:
        if i==j:
            temp2.append(i)
temp2

[4, 5, 6]

In [69]:
scores = [78, 55, 92, 30, 88, 62]  
#Task: Sort scores in descending order.  

scores.sort(reverse='True')

scores

[92, 88, 78, 62, 55, 30]

In [70]:
my_tuple = (1, 2, 3)  
#Task: Repeat my_tuple three times and store the result.  

my_tuple*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [84]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
#Task: Remove duplicates while keeping the order.  
unique = []
for i in numbers:
    a = numbers.count(i)

    if a > 1:
        numbers.remove(i)

numbers.sort()


for num in numbers:
    if num not in unique:
        unique.append(num)

print(unique)

[1, 2, 3, 4, 5, 6]

In [74]:
words = ["Hello", "World", "Python", "Programming"]  
#Task: Insert "Amazing" at index 2.  

words.insert(2, 'Amazing')
words

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [77]:
pairs = [("a", 1), ("b", 2), ("c", 3)]  
#Task: Convert pairs into a dictionary.  
a = dict(pairs)
a

{'a': 1, 'b': 2, 'c': 3}

In [78]:
type(a)

dict