1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}  

2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}  

3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}  

4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}  

5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  

6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6]  

7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  

8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}  

9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}  

10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)

1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}  

2. Find Unique Elements in Two Lists Using Sets  
Task: Given two lists, find the elements that are unique to each list using sets.  
Example:  
list1 = {1, 2, 3, 4}  
list2 = {3, 4, 5, 6}  
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}  

3. Merge Two Dictionaries  
Task: Merge two dictionaries and sum the values of common keys.  
Example:  
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
Output: {'a': 10, 'b': 50, 'c': 40}  

4. Find the Intersection of Two Sets  
Task: Given two sets, find the common elements.  
Example:  
set1 = {1, 2, 3, 4}  
set2 = {3, 4, 5, 6}  
Output: {3, 4}  

5. Find the Most Frequent Element in a List  
Task: Given a list, find the element that appears the most times.  
Example:  
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]  
Output: Most frequent: 3 (appears 4 times)  

6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6]  

7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  

8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}  

9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}  

10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)

1. Count Word Frequency in a Sentence  
Task: Given a sentence, count the occurrences of each word using a dictionary.  
Example:  
sentence = "apple banana apple orange banana apple"  
Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [4]:
sentence = "apple banana apple orange banana apple"  

list1 = sentence.split(' ')

In [5]:
ch = {}

for i in list1:
    if i in ch:
        ch[i] = ch[i] + 1
    else:
        ch[i] = 1

print(ch)

{'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
'''Find Unique Elements in Two Lists Using Sets
Task: Given two lists, find the elements that are unique to each list using sets.
Example:
list1 = {1, 2, 3, 4}
list2 = {3, 4, 5, 6}
Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}'''

In [8]:
list1 = {1, 2, 3, 4}
list2 = {3, 4, 5, 6}

list1.difference(list2)

{1, 2}

In [9]:
list2.difference(list1)

{5, 6}

In [10]:
'''for key, value in dict2.items():
        if key in dict1:
            # If the key is in both dictionaries, sum the values
            dict1[key] += value
        else:
            # If the key is only in dict2, add it to dict1
            dict1[key] = valuefor key, value in dict2.items():
        if key in dict1:
            # If the key is in both dictionaries, sum the values
            dict1[key] += value
        else:
            # If the key is only in dict2, add it to dict1
            dict1[key] = value'''

"Merge Two Dictionaries\nTask: Merge two dictionaries and sum the values of common keys.\nExample:\ndict1 = {'a': 10, 'b': 20}\ndict2 = {'b': 30, 'c': 40}\nOutput: {'a': 10, 'b': 50, 'c': 40}"

In [52]:
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40} 
c_dict = {}
for i in dict1.keys():
    if i in dict2:
        c_dict[i] = dict1[i] + dict2[i]
    else:
        c_dict[i] = dict1[i]

for i in dict2.keys():
    if i not in dict1:
        c_dict[i] = dict2[i]

c_dict

{'a': 10, 'b': 50, 'c': 40}

In [56]:
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40} 
d = {}

for k,v in dict2.items():
    d[k] +=

In [13]:
'''Find the Intersection of Two Sets
Task: Given two sets, find the common elements.
Example:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
Output: {3, 4}'''

'Find the Intersection of Two Sets\nTask: Given two sets, find the common elements.\nExample:\nset1 = {1, 2, 3, 4}\nset2 = {3, 4, 5, 6}\nOutput: {3, 4}'

In [14]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

set1.intersection(set2)

{3, 4}

In [ ]:
'''Find the Most Frequent Element in a List
Task: Given a list, find the element that appears the most times.
Example:
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]
Output: Most frequent: 3 (appears 4 times)'''

In [26]:
numbers = [1, 3, 2, 3, 4, 3, 5, 2, 1, 3]


ch = {}

for i in numbers:
    if i in ch:
        ch[i] = ch[i] + 1
    else:
        ch[i] = 1   



print("The most frequent: ", max(ch.values()))

set_new = {}

The most frequent:  4

In [ ]:
'''6. Remove Duplicates from a List Using Sets  
Task: Remove duplicates from a list while maintaining order.  
Example:  
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
Output: [1, 2, 3, 4, 5, 6] '''

In [32]:
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6] 
set(lst)

{1, 2, 3, 4, 5, 6}

In [ ]:
'''
7. Find Students Who Enrolled in Both Courses  
Task: Given two sets of students, find those who are enrolled in both courses.  
Example:  
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  
Output: {"Bob", "Charlie"}  '''

In [33]:
course_A = {"Alice", "Bob", "Charlie"}  
course_B = {"Bob", "David", "Charlie"}  

course_A.intersection(course_B)

{'Bob', 'Charlie'}

In [ ]:
'''8. Find the Union of Multiple Sets  
Task: Find the union of three sets.  
Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
Output: {1, 2, 3, 4, 5, 6, 7}  '''

In [34]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  

set1.union(set2,set3)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
'''9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
Task: Swap keys and values in a dictionary.  
Example:  
original_dict = {'a': 1, 'b': 2, 'c': 3}  
Output: {1: 'a', 2: 'b', 3: 'c'}  '''

In [35]:
original_dict = {'a': 1, 'b': 2, 'c': 3}  
D1 = {}
for key,value in original_dict.items():
    D1[value] = key
D1

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
'''10. Check If Two Words Are Anagrams Using Dictionaries  
Task: Given two words, check if they are anagrams (i.e., contain the same letters with the same frequency).  
Example:  
word1 = "listen"  
word2 = "silent"  
Output: True (They are anagrams)  '''

In [50]:
freq1 = {}
freq2 = {}
word1 = "listen"
word2 = "silent"  
    
for char in word1:
    freq1[char] = freq1.get(char, 0) + 1
    
   
for char in word2:
    freq2[char] = freq2.get(char, 0) + 1
    
    
print(freq1 == freq2)

True
1