Session 1: [40]
---------------------------------------------------------------------------------------------------

1. Write a function to return the time required to double the invested amount and given rate of 
   interest
2. Write a function to find the second largest number in the list
   Example: Input <- [34, 56, 67, 43]
            Outupt -> 56
3. Write a function to print charecter pyramid
   Example: genPyramic(3, '*')
                 *
                ***
               *****

In [2]:
'''def timeRequ(amt):
    si = prt/100

    si = amt * 2
    r = 8.5'''
    

def time_to_double(rate):
    time = 72 / rate
    return time

rate_of_interest = 8
time_required = time_to_double(rate_of_interest)
print(f"Time required to double the investment at {rate_of_interest}% interest is {time_required} years.")

Time required to double the investment at 8% interest is 9.0 years.

2. Write a function to find the second largest number in the list
   Example: Input <- [34, 56, 67, 43]

In [5]:
def secondLargest(lis):
    lis.sort(reverse = True)
    return lis[1]
    
lis = [34, 56, 67, 43]
secondLargest(lis)

56

Write a function to print charecter pyramid
   Example: genPyramic(3, '*')
                 *
                ***
               *****

In [54]:
def print_pyramid(n):
    # Loop for each row
    for i in range(n):
        
        for j in range(n - i - 1):
            print(" ", end=" ")  # Print spaces
        
        
        for j in range(2 * i + 1):
            print("*",end = " ")  # Print stars
        
        
        print()


print_pyramid(3)

    *
  * * *
* * * * *

In [70]:
a = 10
b = 20

a,b = b,a

In [57]:
a

20

In [58]:
b

10

In [76]:
a = 10
b = 20
def swap(a, b):
    a,b = b,a
    return a,b
print(swap(a,b))
a

(20, 10)

10

In [77]:
a

10

In [85]:
def fun(a,b,*targs,**kargs):
    print(a,b)
    print(targs)
    print(kargs)

fun(10,20,30,40,name='Pra',age='25')

10 20
(30, 40)
{'name': 'Pra', 'age': '25'}