In [9]:
class student:

    # constructor and instance variable intialization
    def __init__(self, sname, sage, sgrade):
        self.name = sname
        self.age  = sage
        self.grade = sgrade
        self.marks = {}

    # class methods
    def set_marks(self, subj, marks):
        self.marks[subj] = marks

    def average(self):
        self.average = sum(self.marks.values())/len(self.marks.values())
        return self.average

    def print_report(self):
        print(f"\nSELF -> {self}")
        print("------------------------------------")
        print(f"NAME           | {self.name}")
        print(f"AGE            | {self.age}")
        print(f"GRADE          | {self.grade}")
        print("------------------------------------")
        for k, v in self.marks.items():
            print(str(k).rjust(10), "  |", str(v).ljust(5) )
        print("------------------------------------")
        print("AVERAGE        | ", self.average())

In [10]:
s1 = student("Anil", 12, "7")
s2 = student("Sunil", 12, "7")

In [13]:

s1.print_report()

SELF -> <__main__.student object at 0x0000021392234BF0>
------------------------------------
NAME           | Anil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 78
 chemistry   | 88
------------------------------------
AVERAGE        |  83.0

In [4]:
s2

In [12]:
s1.set_marks("physics", 78)
s1.set_marks("chemistry", 88)

In [6]:
s2.set_marks("physics", 98)
s2.set_marks("chemistry", 68)

In [7]:
s1.print_report()

SELF -> <__main__.student object at 0x0000021200213770>
------------------------------------
NAME           | Anil
AGE            | 12
GRADE          | 7
------------------------------------
   physics   | 78
 chemistry   | 88
------------------------------------
AVERAGE        |  83.0

16.2 Exercise

Create a employee class with the following features: name, age, company, gross_salary, tax_rate, net_salary Implement methods to: print information, calculate net_salary based on tax rate, set the gross salary, set the tax rate

In [21]:
class Employee:
    def __init__(self, ename, eage,company, gross_salary, tax_rate):
        self.name = ename
        self.age  = eage
        self.company = company
        self.gross_salary = gross_salary
        self.tax_rate = 5


    def net_sal(self):
        self.net_salary = self.gross_salary * (1 - self.tax_rate / 100)
        return self.net_salary


    def bonus():
    def set_gross_salary(self, gross_salary):
        self.gross_salary = gross_salary

    def print_information(self):
        print("\nEmployee Information")
        print("------------------------------------")
        print(f"Name           | {self.name}")
        print(f"Age            | {self.age}")
        print(f"Company        | {self.company}")
        print(f"Gross Salary   | {self.gross_salary}")
        print(f"Tax Rate (%)   | {self.tax_rate}")
        print(f"Net Salary     | {self.net_sal()}")
        print("------------------------------------")

if __name__ == "__main__":
     emp = Employee("Prathiksha", 25, "UST", 23000, 20)
 
    emp.print_information()

Employee Information
------------------------------------
Name           | Prathiksha
Age            | 25
Company        | UST
Gross Salary   | 23000
Tax Rate (%)   | 5
Net Salary     | 21850.0
------------------------------------