Session 1: [30]
-----------------------------------------------------------------------------------------

Write a function to return the sum of individual digits 
Example: sum_individual(123) -> 6

Create a list of squares of numbers between 1 and 10
Use map()

List all three digit numbers between 100 and 1000 whose sum of individual digits 
equate to 11. Use filter()

Given L = ["red", "green", "blue", "yellow"]
Sort the list in descending order with respect to the last charecter of the element
output -> ['yellow', 'green', 'blue', 'red']

In [1]:
#Create a list of squares of numbers between 1 and 10
#Use map()

F1 = map(lambda t : t **2, range(1,11))
list(F1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#List all three digit numbers between 100 and 1000 whose sum of individual digits 
#equate to 11. Use filter()



P2 = filter(lambda t : t **2, range(100, 1000))
list(P2)

In [22]:
'''Given L = ["red", "green", "blue", "yellow"]
Sort the list in descending order with respect to the last charecter of the element
output -> ['yellow', 'green', 'blue', 'red']'''
L = ["red", "green", "blue", "yellow"]
L.sort(key=lambda e : e[-1], reverse="True")
L

['yellow', 'green', 'blue', 'red']

In [25]:
#Write a function to return the sum of individual digits 
#Example: sum_individual(123) -> 6
def sum_individual(num):
 return sum(map(int, str(num)))
sum_individual(124)

7

In [13]:
def sum_of_digits_equals_11(n):
    return sum(map(int, str(n))) == 11

result = list(filter(sum_of_digits_equals_11, range(100, 1000)))

result

[119,
 128,
 137,
 146,
 155,
 164,
 173,
 182,
 191,
 209,
 218,
 227,
 236,
 245,
 254,
 263,
 272,
 281,
 290,
 308,
 317,
 326,
 335,
 344,
 353,
 362,
 371,
 380,
 407,
 416,
 425,
 434,
 443,
 452,
 461,
 470,
 506,
 515,
 524,
 533,
 542,
 551,
 560,
 605,
 614,
 623,
 632,
 641,
 650,
 704,
 713,
 722,
 731,
 740,
 803,
 812,
 821,
 830,
 902,
 911,
 920]

In [14]:
sum(map(int,str(123)))

6

In [20]:
def funct1(n):
    return sum(map(int,str(n))) == 11

list(filter(funct1, range(100,1000)))

[119,
 128,
 137,
 146,
 155,
 164,
 173,
 182,
 191,
 209,
 218,
 227,
 236,
 245,
 254,
 263,
 272,
 281,
 290,
 308,
 317,
 326,
 335,
 344,
 353,
 362,
 371,
 380,
 407,
 416,
 425,
 434,
 443,
 452,
 461,
 470,
 506,
 515,
 524,
 533,
 542,
 551,
 560,
 605,
 614,
 623,
 632,
 641,
 650,
 704,
 713,
 722,
 731,
 740,
 803,
 812,
 821,
 830,
 902,
 911,
 920]

In [19]:
def funct1(n):
    return sum(map(int,str(n))) == 11

List all three digit numbers between 100 and 1000 whose sum of individual digits 
equate to 11. Use filter()
numb = range(100,1000)
list(filter(funct1, numb))

[119,
 128,
 137,
 146,
 155,
 164,
 173,
 182,
 191,
 209,
 218,
 227,
 236,
 245,
 254,
 263,
 272,
 281,
 290,
 308,
 317,
 326,
 335,
 344,
 353,
 362,
 371,
 380,
 407,
 416,
 425,
 434,
 443,
 452,
 461,
 470,
 506,
 515,
 524,
 533,
 542,
 551,
 560,
 605,
 614,
 623,
 632,
 641,
 650,
 704,
 713,
 722,
 731,
 740,
 803,
 812,
 821,
 830,
 902,
 911,
 920]